{% extends "BCRMWebBundle::page.html.twig" %}
{% block content %}
        {{ page.content|raw }}
        <form method="post" action="/" class="form-infomail">
            <fieldset class="input-with-button">
                <label for="email">E-Mail</label>
                <input type="email" required placeholder="Schickt mir ne Mail, wenn sich was tut." tabindex="1" size="20" value="" id="email" name="email">
                <button type="submit" tabindex="100" class="button" name="submit"><span>Absenden</span><span class="arrow"></span></button>
            </fieldset>
            <fieldset>
                <label class="checkbox">
                    <input type="checkbox" tabindex="20" value="1" id="newsletter" name="newsletter">
                    <span></span>
                    Informiert mich auch über zukünftige BarCamps
                </label>
            </fieldset>
        </form>
{% endblock content %}