/web/bundles/
/web/content/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
.idea
app/config/parameters.yml
/web/css
/web/js
/*.sql*
/web/.htaccess
/src/BCRM/WebBundle/Resources/public/css/_*.css
/src/BCRM/WebBundle/Resources/public/css/styles.css
/src/BCRM/WebBundle/Resources/public/css/checkin.css
/app/spool
/www.iml
/www.ipr
/www.iws
