parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     wemoof
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_port:       ~
    mail_from_email:   m@wemoof.de
    mail_from_name:    Webmontag Offenbach

    scheme_and_host:   http://wemoof.de

    locale:            de
    secret:            changeme

    sass_bin:          /usr/bin/sass
    java_bin:          /opt/java/bin/java

    assets_version:    1

    google.analytics.account:  UA-36307571-2
    google.analytics.domain: barcamp-rheinmain.de

    web.content_dir:   %kernel.root_dir%/../web/content

    password.concierge: changeme

    mailchimp.api_key: somekey

    barcamp_title: Frankfurt 22./23.11.2014
    barcamp_description: Das nächste BarCamp RheinMain findet am 22./23.11.2014 bei etecture in Frankfurt statt.
    barcamp_start_time: 2014-11-22T08:00:00+01:00
    barcamp_end_time: 2014-11-23T20:00:00+01:00
    barcamp_location_longitude: "8.690136"
    barcamp_location_latitude: "50.095335"
    barcamp_hashtag: bcrm14
    twitter_widget_id: 524809884814958594

    paypal_merchant_id: MADLHS6XJAZFS
    paypal_sandbox: true
