$bg: #fff;
$anti_bg: #000;
$text: #666;
$link: #F90;
$link_visited: #C40; /*darken($link, 20);*/
$footer: #FFE100;
$light_shadow: #7F7F7F;
$dark_shadow: #111155;
$color_a: #507;
$color_b: #900;
$color_c: #F90;
